<main class="homepageBody">
    <app-logo-disk-da-maga></app-logo-disk-da-maga>
    <form class="homepageMainContainer">
        <app-input-text description="Login" [type]="'text'" [placeholder]="'Digite seu login'"></app-input-text>
        <app-input-text description="Senha" [type]="'password'" [placeholder]="'Digite sua senha'"></app-input-text>
        <app-button [classes]="'inputButton homepageButton'" [description]="'Continuar'"></app-button>
    </form>
    <app-footer></app-footer>
</main>