<div class="content-container">
    <button mat-fab extended="filled" type="submit" class="new-sale-btn" (click)="openAddSaleDialog()">
        <mat-icon matPrefix>add_2</mat-icon>
        Nova Venda
    </button>

    <mat-divider class="divisor"></mat-divider>

    <mat-card class="sale-card" *ngFor="let sale of sales; trackBy: trackBySale">
        <mat-card-content>
            <div class="sale-details">

                <div class="sale-icon">
                    <mat-icon>sell</mat-icon>
                </div>

                <div class="products-list">
                    <ng-container *ngFor="let product of getProductsList(sale); let i = index">
                        <div class="product-item" *ngIf="i < 2">
                            {{ product }}
                        </div>
                    </ng-container>
                </div>

                <div class="subtotal">
                    <h3>Subtotal</h3>
                    <span>{{ formatCurrency(sale.subtotal) }}</span>
                </div>

                <button mat-icon-button [matMenuTriggerFor]="detailedMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #detailedMenu="matMenu">
                    <button mat-menu-item (click)="openSaleDetails(sale)">
                        <mat-icon>open_in_new</mat-icon>
                        <span>Mais detalhes</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>delete</mat-icon>
                        <span>Excluir venda</span>
                    </button>
                </mat-menu>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="sales.length === 0 && !isLoading" class="empty-state">
        <mat-card-content>
            <mat-icon class="empty-icon">sell</mat-icon>
            <h2>Nenhuma venda encontrada</h2>
            <p>Cadastre uma nova venda</p>
        </mat-card-content>
    </mat-card>
</div>