<div class="content-container">
    <button mat-fab extended="filled" type="submit" class="new-sale-btn" (click)="openAddSaleDialog()">
        <mat-icon matPrefix>add_2</mat-icon>
        Nova Venda
    </button>

    <mat-divider class="divisor"></mat-divider>

    <mat-card class="sale-card">
        <mat-card-content>
            <div class="sale-details">

                <div class="sale-icon">
                    <mat-icon>sell</mat-icon>
                </div>

                <div class="products-list">
                    <mat-list role="list">
                        <td>1x Coca</td>
                        <td>2x Peda</td>
                    </mat-list>
                </div>

                <div class="subtotal">
                    <h3>Subtotal</h3>
                    <span>R$60,00</span>
                </div>
                
                <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menuDetalhes="matMenu">
                    <button mat-menu-item (click)="openSaleDetails()">
                        <mat-icon>open_in_new</mat-icon>
                        <span>Mais detalhes</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>delete</mat-icon>
                        <span>Excluir venda</span>
                    </button>
                </mat-menu>
            </div>
        </mat-card-content>
    </mat-card>
</div>