.product-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff8f8;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: auto;
  padding: 24px 32px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.divisor.mat-divider-horizontal {
  height: 2px;
  background-color: #d1d1d1;
  width: 100%;
  border: none;
  margin: 0 0 30px 0;
  border-radius: 2px;
}

.btnSubmit {
    display: flex;
    justify-content: end;
}

:host ::ng-deep .continue-btn {
  width: 100%;
  max-width: 200px;
  background-color: #009225;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
  height: 42px;
}

:host ::ng-deep .continue-btn:hover {
  background-color: #007a1f;
}
