.inputButton {
    border-radius: var(--component-border-radius);
    aspect-ratio: 16/3;
    font-family: var(--font-input);
    border: none;
    width: 100%;
}

.homepageButton {
    margin-top: 1.5vh;
    cursor: pointer;
    background: var(--button-primary-color);
    color: white;
    transition: all ease 0.3s;
}

.homepageButton:hover {
    background: #3f0405;
}

.homepageButton:focus {
    outline: unset;
    border: solid 1px var(--border-input) !important;
    box-shadow: 0 0 5px var(--border-input);
}