.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.fabButtonContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 1.5vw;
    padding-bottom: 1.5vw;
}

.topBar {
    position: absolute;
    width: 100%;
}