<div class="main">
    <div class="fabButtonContainer">
        <button mat-fab color="primary" (click)="openDialog()">
            <mat-icon svgIcon="plus"></mat-icon>
        </button>
    </div>

    <div class="client-list">
        <div class="client-card" *ngFor="let client of clients">

            <div class="client-info">
                <h3>{{ client.clientName }}</h3>
                <p>{{ client.clientNickname }}</p>
                <p>{{ client.phoneNumber }}</p>
                <p>Dívida: {{ client.clientDebts | currency:'BRL':'symbol' }}</p>
            </div>
        </div>
    </div>
</div>