<mat-dialog-content class="dialog-content">

    <!-- Campo de busca -->
    <div class="search-container">
        <mat-form-field appearance="fill" class="full-width">
            <mat-icon matPrefix>search</mat-icon>
            <input #productInput type="text" matInput [formControl]="myControl" placeholder="Nome ou código do produto" />
        </mat-form-field>
    </div>

    <!-- Título da lista -->
    <div class="table-header">
        <span>Produto</span>
        <span>QTD</span>
        <span>Valor</span>
    </div>

    <!-- Lista de produtos -->
    <div class="list-container">
        <div class="product-list">
            <ng-container *ngFor="let item of products; let i = index">
                <div class="product-item">
                    <mat-checkbox [(ngModel)]="item.selected">{{ item.name }}</mat-checkbox>

                    <div class="quantity-controls">
                        <button mat-icon-button color="primary" (click)="decrement(item)">
                            <mat-icon>remove</mat-icon>
                        </button>

                        <input matInput type="number" [(ngModel)]="item.quantity" class="quantity-input" />

                        <button mat-icon-button color="primary" (click)="increment(item)">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>

                    <div class="price">
                        R$ {{ item.price | number: '1.2-2' }}
                    </div>
                </div>

                <mat-divider *ngIf="i < products.length - 1"></mat-divider>
            </ng-container>
        </div>
    </div>
</mat-dialog-content>

<!-- footer -->
<mat-dialog-actions class="dialog-footer" align="end">
    <mat-divider></mat-divider>
    <div class="footer-container">
        <div class="subtotal">
            <span>Total</span>
            <strong>R$ 24,00</strong>
        </div>
        <button mat-icon-button class="btn-continue">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
</mat-dialog-actions>