<app-top-bar [pageTitle]="'Cadastrar cliente'" class="topBar"></app-top-bar>
<div class="main">
    <app-imagem-cliente [imagePath]="'https://avatar.iran.liara.run/public/27'"></app-imagem-cliente>
    <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Apelido</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Celular</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Dívida do cliente</mat-label>
        <input matInput>
    </mat-form-field>
    <button matButton="filled">Cadastrar</button>
</div>
<!-- Eu sei que está fora do padrão, precisa colocar a página em forms, vou corrigir isso, mas preciso entender o funcionamento antes de fazer (funcionamento dos forms)-->
