<mat-dialog-content class="dialog-content">
    <!-- Cabeçalho  -->
    <div class="header">
        <div class="title">
            <span>Pagamento parcial</span>
        </div>
        <div class="price">
            R$ 24,00
        </div>

    </div>

    <mat-divider></mat-divider>

    <!-- Cards Pagamento  -->
    <div class="payment-method">
        <button>
            <mat-icon>payments</mat-icon>
            <span>Dinheiro</span>
        </button>

        <button>
            <mat-icon>qr_code_scanner</mat-icon>
            <span>Pix</span>
        </button>

        <button>
            <mat-icon>credit_card</mat-icon>
            <span>Cartão</span>
        </button>

        <button>
            <mat-icon>person</mat-icon>
            <span>Conta do Cliente</span>
        </button>
    </div>
    <mat-divider></mat-divider>

    <!-- Rodapé  -->
    <div class="footer">
        <div class="value">
            <span>Restante</span>
            <span class="price">R$ 35,00</span>
        </div>

        <div class="continue">
            <button mat-fab extended="filled" type="submit" class="continue-btn">
                <span>Continuar</span>
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </div>
</mat-dialog-content>
