.navbar { 
    display: flex;
    justify-content: space-around;
    background-color: #8B0000;
    padding: 1.2em 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    z-index: 1000;
    box-shadow: 0 -0.1em 1em rgba(0, 0, 0, 0.2);
}

.navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.navbar-item mat-icon {
    font-size: 1.7em;
    transition: transform 0.3s;
}

.navbar-item mat-icon:hover {
    transform: scale(1.2);
    color: darkgreen;
}

body {
    padding-bottom: 4.5em;
}