<nav class="navbar">
    <div class="navbar-item" (click)="navigateTo('dashboard')">
        <mat-icon>bar_chart</mat-icon>
    </div>
    <div class="navbar-item" (click)="navigateTo('products/new-product')">
        <mat-icon>add_shopping_cart</mat-icon>
    </div>
    <div class="navbar-item" (click)="navigateTo('sales')">
        <mat-icon>payments</mat-icon>
    </div>
    <div class="navbar-item" (click)="navigateTo('/clientes')">
        <mat-icon>people</mat-icon>
    </div>
    <div class="navbar-item" (click)="navigateTo('products')">
        <mat-icon>trolley</mat-icon>
    </div>
</nav>