<nav class="navbar">
    <div class="navbar-item" (click)="navigateTo('dashboard')">
        <img src="assets/icons/chart.svg" alt="Dashboard">
    </div>
    <div class="navbar-item" (click)="navigateTo('products/new-product')">
        <img src="assets/icons/pricetags.svg" alt="Tag">
    </div>
    <div class="navbar-item" (click)="navigateTo('card')">
        <img src="assets/icons/card.svg" alt="Cartão">
    </div>
    <div class="navbar-item" (click)="navigateTo('users')">
        <img src="assets/icons/people.svg" alt="Usuarios">
    </div>
    <div class="navbar-item" (click)="navigateTo('/products')">
        <img src="assets/icons/cube.svg" alt="Estoque">
    </div>
</nav>