:root {
    --background-body: #19080A;
    --background-Container: #260E11;
    --background-Container-lighter: #260E1155;
    --border-input: #670B0D;
    --button-primary-color: var(--border-input);
    --font-input: 'Montserrat';
    --font-input-color: white;
    --component-border-radius: 1.5vw;
    --transition: all ease 0.3s;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
main {
    height: 100%;
    font-family: var(--font-input);
}